@import "./section1.css";

@import "./section2.css";

@import "./section3.css";

@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Paprika', cursive;
}

.allSectionCont{
  width: 100vw;
}



